$color-dark: #181a1c;
$color-first: #ffa500;
$color-first-light: #f5deb3;
$color-first-dark: #bb954e;
$color-golden: #d2b06f;
$color-secondary: #352822;

$color-background: #491505;
$color-background-button: #9a3535;
$color-background-light: #53371d;
$color-background-dark: #301810;
$color-background-gray: #373636;
$color-background-opacity: #1e1b1b80;

$color-blue-background: linear-gradient(90deg,rgb(0,9,36) 6%,rgb(9,9,121) 34%,rgb(0,212,255) 100%);

$color-alert: #e38383;

$content-width: 1800px;

$logo-text-shadow: 0 0 10px rgb(184 24 24), 0 0 20px red, 0 0 30px red, 0 0 40px red;
$logo-image-shadow: 0 0 10px rgb(88 68 68), 0 0 5px red, 0 0 10px red, 0 0 15px red;