.products {
    display: flex;
    width: calc(100% - 340px);
    flex-direction: column;
    &__wrapper {
      width: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2vw;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      background-color: $color-dark;
      border: 1px solid $color-first;
      border-radius: 15px 15px 0 0;
      padding: 5px 10px;
      margin-bottom: 20px;
    }
    &__content {
      color: $color-first-light;
    }
    &__input {
      background-color: transparent;
      border-radius: 15px;
      border: 1px solid $color-first;
      text-align: center;
      padding: 3px;
      color: $color-first;
    }
    &__not-found {
      align-self: center;
      margin-top: 10%;
      font-size: 200%;
      color: $color-first-light;
      display: none;
    }
}

.view {
  color: $color-first-light;
  &__small,
  &__big {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-first;
    cursor: pointer;
  }
  &_active {
    box-shadow: 0 0 3px 1px #c45f07;
    border: 1px solid rgb(235,68,68);
  }
}

.product {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  background-image: url("https://i.dummyjson.com/data/products/52/thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 1px solid $color-first;
  overflow: hidden;
  &__header {
    background-color: rgba(24,26,28,.8);
    color: $color-first;
    text-align: center;
    font-size: 18px;
    padding: 3px;
  }
  &__wrapper {
    margin: 0;
  }
  &__context {
    background-color: $color-background-light;
    border: 1px solid $color-first;
    width: 150px;
  }
  &__info {
    color: $color-first-dark;
    font-size: 14px;
  }
  &__text {
    color: $color-first-light;
    font-size: 14px;
  }
  &__buttons {
    margin-top: auto;
  }
  &__button {
    background-color: $color-dark;
  }
  &_small {
    width: 200px;
    height: 150px;
    & .product__button {
      padding: 2px 5px;
    }
    & .product__context {
      display: none;
    }
  }

}
